In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('glassdoor_jobs.csv')

In [3]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [4]:
# Salary parsing
# Company name text only
# State Field
# Age of company
# Parsing of job desc(python etc)

Removing all the rows with salary estimate as -1

In [6]:
df=df[df['Salary Estimate']!='-1']

In [14]:
df_copy=df.copy()

In [16]:
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x: x.split()[0])

In [42]:
# Removing k and $
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x: x.replace('K','').replace('$',''))

In [25]:
df_copy['Hour']=df_copy['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [30]:
df['Hour']=df_copy['Hour']

In [31]:
df['Employer_provided']=df_copy['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [38]:
for i in range (0,len(df)):
    if(df['Employer_provided'].iloc[i]==1):
        df['Salary Estimate'].iloc[i].replace(df['Salary Estimate'].iloc[i],df_copy['Salary Estimate'].iloc[i])
    else:
        continue

In [41]:
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x: x.replace('(Employer','').replace('Employer Provided Salary:','').replace('Per Hour',''))

In [43]:
# Removing k and $
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x: x.replace('K','').replace('$',''))

In [44]:
df['Salary Estimate'].unique()

array(['53-91', '63-112', '80-90', '56-97', '86-143', '71-119', '54-93',
       '86-142', '38-84', '120-160', '126-201', '64-106', '106-172',
       '46-85', '83-144', '102-190', '67-137', '118-189', '110-175',
       '64-111', '81-130', '73-119', '86-139', '63-105', '109-177',
       '63-110', '75-124', '34-61', '72-120', '93-149', '85-140',
       '77-135', '82-132', '83-137', '115-180', '74-138', '64-112',
       '68-129', '52-113', '110-150', '150-160', '158-211', '20-39',
       '56-117', '63-99', '68-114', '41-95', '86-144', '80-139', '56-95',
       '120-189', '111-176', '84-146', '107-172', '49-85', '61-109',
       '88-148', '60-99', '41-72', '96-161', '65-130', '52-81', '139-220',
       '50-102', '85-139', '74-122', '99-157', '79-222', '57-118',
       '86-141', '94-154', '37-76', '100-160', '55-100', '60-114',
       '39-68', '64-107', '31-65', '34-62', '117-231', '79-134', '52-93',
       '55-116', '72-123', '74-124', '40-73', '102-164', '89-153',
       '61-110', '65-110', '200-275', '68-123', '80-129', '39-71',
       '38-85', '121-193', '54-102', '102-163', '76-140', '60-101',
       '82-133', '65-125', '91-148', '95-173', '77-124', '80-135',
       '85-159', '80-105', '43-81', '29-50', '26-55', '61-118', '60-102',
       '112-182', '51-112', '113-223', '72-129', '71-123', '120-145',
       '80-120', '80-130', '59-115', '71-136', '81-167', '71-204',
       '75-125', '77-136', '74-123', '44-78', '65-148', '59-110',
       '85-134', '124-204', '131-207', '110-174', '52-101', '81-133',
       '132-211', '74-140', '100-190', '43-80', '17-24', '91-149',
       '42-82', '116-185', '59-116', '48-95', '31-72', '105-198',
       '98-182', '73-124', '200-250', '21-34', '117-206', '111-183',
       '81-159', '83-166', '114-182', '42-76', '114-179', '60-123',
       '100-166', '108-173', '48-93', '54-115', '60-127', '90-179',
       '138-224', '190-220', '35-62', '18-25', '39-66', '42-86', '69-127',
       '40-68', '49-113', '75-140', '66-112', '76-125', '44-86', '15-25',
       '53-92', '65-120', '60-103', '53-105', '33-62', '48-90', '34-64',
       '66-111', '91-138', '62-114', '71-129', '74-119', '55-97', '15-16',
       '61-106', '127-199', '74-126', '33-72', '37-63', '67-119',
       '72-117', '78-126', '116-194', '83-133', '45-82', '83-135',
       '70-122', '70-132', '54-101', '68-112', '42-74', '95-161',
       '76-126', '108-176', '130-208', '37-68', '52-99', '105-173',
       '71-134', '39-82', '88-162', '55-99', '67-117', '92-150',
       '116-209', '38-82', '85-90', '62-119', '84-136', '52-89', '65-119',
       '63-101', '127-202', '31-57', '75-143', '105-194', '45-86',
       '95-154', '80-148', '36-62', '50-92', '67-135', '42-80', '68-139',
       '34-92', '54-71', '65-124', '109-200', '61-113', '43-86', '74-149',
       '113-196', '97-160', '24-39', '102-172', '108-171', '76-142',
       '202-306', '49-97', '65-134', '32-59', '87-158', '107-173',
       '56-99', '25-28 ', '80-155', '43-98', '45-78', '44-96', '50-110',
       '61-119', '100-140', '56-91', '101-158', '125-210', '43-77',
       '139-221', '78-147', '37-66', '38-64', '43-82', '90-110', '93-151',
       '40-101', '97-180', '81-134', '84-157', '121-203', '52-85',
       '81-140', '83-148', '31-55', '102-178', '110-130', '48-85',
       '66-123', '92-146', '21-29', '10-17', '150-239', '52-91', '82-129',
       '47-101', '49-76', '43-88', '124-199', '97-181', '100-173',
       '53-96', '65-96', '75-127', '94-139', '176-289', '92-149',
       '118-188', '108-146', '65-106', '55-98', '94-162', '63-120',
       '126-228', '80-134', '85-142', '87-140', '76-127', '54-92',
       '61-100', '112-179', '63-111', '75-126', '110-184', '76-145',
       '70-118', '94-153', '150-180', '42-77', '47-85', '62-112',
       '64-108', '89-144', '55-105', '135-211', '57-80', '129-215',
       '63-127', '50-89', '71-124', '69-121', '150-238', '77-132',
       '59-112', '35-65', '79-147', '119-187', '90-157', '32-62',
       '116-208', '102-165', '91-159', '80-133', '39-69', '27-48',
       '36-71', '130-206', '99-178', '86-137', '37-100', '58-111',
       '72-133', '61-126', '95-160', '33-61', '69-119', '67-127',
       '66-117', '50-98', '90-153', '100-135', '42-79', '84-153', '44-73',
       '40-87', '72-142', '74-137', '57-109', '136-208', '171-272',
       '65-126', '118-228', '113-182', '58-104', '58-108', '81-161',
       '115-220', '71-144', '32-57', '79-136', '48-113', '27-47',
       '68-125', '39-67', '71-135', '61-123', '87-141', '71-121',
       '72-121', '51-88', '101-141', '79-127', '81-132', '120-140',
       '65-113', '59-125', '80-142', '62-113'], dtype=object)